{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
    <div class="nseed-logo-large">
        <img alt="NSeed logo" src="{{ "/img/logo_v11.png" | relURL }}" width="250">
    </div>

    <div class="nseed-code">
        <span>dotnet install nseed-cli</span>
    </div>
    <section class="nseed-section" id="about">
        <h2 class="nseed-section-heading">What is NSeed?</h2>
        <div class="row gutters">
            <div class="col col-6">
                <img src="../img/website_placeholder.png" alt="">
            </div>
            <div class="col col-6">
                <img src="../img/website_placeholder.png" alt="">
            </div>
        </div>
        <div class="nseed-howto-gif">
            <img src="../img/demo.gif" alt="">
        </div>
        <div>
            <div class="row gutters nseed-about-part">
                <div class="col col-6 item">
                    <h3>About NSeed</h3>
                    <p>Cupcake ipsum dolor sit amet macaroon pie. Ice cream bear claw cheesecake biscuit topping cupcake. Chocolate bar apple pie cheesecake soufflé sugar plum halvah. Topping gummies chupa chups halvah biscuit chocolate. Cake cupcake pudding ice cream wafer carrot cake toffee. Soufflé cake I love cookie biscuit lemon drops brownie toffee jujubes. Pudding toffee brownie donut I love jelly beans I love jelly.</p>
                </div>
                <div class="col col-6 item">
                    <img src="../img/code_placeholder.png" alt="">
                </div>
            </div>
            <div class="row gutters nseed-about-part">
                <div class="col col-6 item">
                    <img src="../img/code_placeholder.png" alt="">
                </div>
                <div class="col col-6 item">
                    <h3>About NSeed</h3>
                    <p>Cupcake ipsum dolor sit amet macaroon pie. Ice cream bear claw cheesecake biscuit topping cupcake. Chocolate bar apple pie cheesecake soufflé sugar plum halvah. Topping gummies chupa chups halvah biscuit chocolate. Cake cupcake pudding ice cream wafer carrot cake toffee. Soufflé cake I love cookie biscuit lemon drops brownie toffee jujubes. Pudding toffee brownie donut I love jelly beans I love jelly.</p>
                </div>
            </div>
            <div class="row gutters nseed-about-part">
                <div class="col col-6 item">
                    <h3>About NSeed</h3>
                    <p>Cupcake ipsum dolor sit amet macaroon pie. Ice cream bear claw cheesecake biscuit topping cupcake. Chocolate bar apple pie cheesecake soufflé sugar plum halvah. Topping gummies chupa chups halvah biscuit chocolate. Cake cupcake pudding ice cream wafer carrot cake toffee. Soufflé cake I love cookie biscuit lemon drops brownie toffee jujubes. Pudding toffee brownie donut I love jelly beans I love jelly.</p>
                </div>
                <div class="col col-6 item">
                    <img src="../img/code_placeholder.png" alt="">
                </div>
            </div>
            <div class="row gutters nseed-about-part">
                <div class="col col-6 item">
                    <img src="../img/code_placeholder.png" alt="">
                </div>
                <div class="col col-6 item">
                    <h3>About NSeed</h3>
                    <p>Cupcake ipsum dolor sit amet macaroon pie. Ice cream bear claw cheesecake biscuit topping cupcake. Chocolate bar apple pie cheesecake soufflé sugar plum halvah. Topping gummies chupa chups halvah biscuit chocolate. Cake cupcake pudding ice cream wafer carrot cake toffee. Soufflé cake I love cookie biscuit lemon drops brownie toffee jujubes. Pudding toffee brownie donut I love jelly beans I love jelly.</p>
                </div>
            </div>
        </div>
    </section>
    <div>
        {{ partial "blogs.html" . }}
    </div>
    <div class="nseed-section" id="news">
        <a class="twitter-timeline" href="https://twitter.com/nseedio?ref_src=twsrc%5Etfw">Tweets by nseedio</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div>
        {{ partial "contact.html" . }}
    </div>
</div>


{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
